/*--- Body ---*/

html, body{
	margin: 0;
	padding: 0;

}

/*--- Content container ---*/

/*--- Navigaton ---*/

nav {
	width: 100%;
	height: 20px;
	display: inline-block;
	background: #eee;
}

nav a {}

